<!--div class="container">
    <div class="row">
        <div class="col-xs-12">
             <h3>appComponent</h3>
            <hr><hr>
        </div>
    </div>
</div-->



<ng-container *ngIf="!show">
<app-home></app-home>
<div class="form-group">
    <button (click)="toggle()" id="bt" type="button" class="btn btn-lg btn-outline-info">Envoyer votre mandat</button>
</div> 
</ng-container>

<ng-container *ngIf="show">
<app-form></app-form>
</ng-container>

<!--ng-container *ngIf="!show">
        <app-server [model]="model"></app-server>
<div class="form-group">
    <button (click)="toggle()" id="bt" type="button" class="btn btn-lg btn-outline-info">Envoyer votre mandat</button>
</div> 
</ng-container>

<ng-container *ngIf="show">
        <app-servers [model]="model"></app-servers>
</ng-container-->

<!--app-server [model]="model"></app-server>
<app-servers [model]="model"></app-servers-->