
<div id="logo"></div>
<div class="card bg-light">
    <div class="card-body">
        <h3>Cher client,</h3>
        <p>La Poste Tunisienne a le plaisir de mettre à votre disposition le service des Mandats . Ce service vous permet d'envoyer un mandat d'un montant ne dépassant pas 250 DT et à concurrence de l'avoir disponible au niveau de votre compte virtuel . Le mandat peut être envoyé à vous même ou à une autre personne à l'adresse et aux coordonnées que vous fixeriez. Le paiement de votre mandat ne peut être effectué qu'après 48 heures jours ouvrables.</p>
    </div>
</div>

<!--div class="form-group">
    <button type="button" class="btn btn-lg btn-outline-info">Envoyer votre mandat</button>
</div-->